image: "registry.gitlab.cc-asp.fraunhofer.de:4567/simphony/osp-core:latest"

stages:
  - code_analysis
  - test

pep8:
  stage: code_analysis
  script:
    - flake8 . --exclude=*/__init__.py --ignore=W503

radon:
  stage: code_analysis
  script:
    - radon cc -s -a .
    - radon mi -s .

unittesting:
  stage: test
  script:
    - pip3 install --upgrade flake8
    - flake8 --exclude=*/__init__.py osp/ tests/
    - python3 setup.py install -o city
    - coverage run setup.py test
    - coverage report --omit=tests/*,.eggs/* --skip-covered
