__pycache__/
build/
cuds/__pycache__/
cuds/classes/generated/
cuds/generator/__pycache__/
cuds/ontology/__pycache__/
cuds/ontology/tools/__pycache__/
.eggs/
*.egg-info/
*~*
.vscode/
.mypy_cache/
coverage.xml
.coverage
*.pkl
.tox/
dist/
osp/core/packageinfo.py