image: "registry.gitlab.cc-asp.fraunhofer.de:4567/marketplace/osp-core"

stages:
  - build
  #- test

build_job:
  stage: build
  script:
    - python3 setup.py install -t
    - flake8 cuds/ --exclude=cuds/classes/generated,build --ignore=F401,F403,E402
    - python3 setup.py test
